.container {
	background-image: url(../../assets/main-bg.jpg);
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
}

.main-header {
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 40px 80px 0 0;
	@media (max-width: 400px) {
		padding: 20px 20px 0 0;
	}
}
.menu-icon {
	height: 50px;
	width: 50px;
	@media (max-width: 400px) {
		height: 30px;
		width: 30px;
	}
	@media (max-width: 620px) and (min-width: 400px) {
		height: 40px;
		width: 40px;
	}
}
.logo {
	img {
		@media (max-width: 400px) {
			height: 60px;
			width: 200px;
		}
		@media (max-width: 620px) and (min-width: 400px) {
			height: 90px;
			width: 300px;
		}
	}
}
.main-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__text {
		margin-bottom: 20px;
	}
	&__divider {
		@media (max-width: 400px) {
			height: 30px;
		}
		@media (max-width: 620px) and (min-width: 400px) {
			height: 40px;
		}
	}
}
