@import-normalize; /* bring in normalize.css styles */
// Подключение обнуляющих стилей
@import 'nullstyle.scss';
// Подключение шрифта
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: calc(8px + 1.2vmin);
	line-height: 1.1;
	text-transform: uppercase;
	color: #ffffff;
}
